@import 'tailwindcss';

@layer base {
    *, *::before, *::after {
        box-sizing: border-box;
    }

    * {
        margin: 0;
        padding: 0;
    }

    html {
        font-family: sans-serif;
    }
}
.p-autocomplete {
  width: 100% !important;
}

.p-autocomplete .p-inputtext {
  width: 100% !important;
}

.p-tabpanels {
  padding-left: 0 !important;
  padding-right: 0 !important;
}
.p-tablist-tab-list {
  justify-content: space-around !important;
  
}
.p-tab {
  padding: 0 !important;
}
